*{
    margin: 0;
    padding: 0;
    text-align: center;
}
.button {
  height: 70px;
  width: 70px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 10px;
  margin: 4px;
  cursor: pointer;
}
#grey {
  background-color: grey;
}

#white {
  background-color: white;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}